body {
    width: 600px;
}

.img-rounded{
    width:80px;
}

.search-box{
    margin: 20px;
}

.fadeIn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 160px;
    height: 40px;
    background-color: #1FDA4A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    animation:fadeInfun 0.8s infinite; 
    animation-iteration-count: 1
}

@keyframes fadeInfun{
    from {right:-200px;}
    to {right:20px;}
    0%   { opacity:0; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
}

img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child{
    height: 200px; 
}
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}